/* Reset básico */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Garantir que a aplicação ocupe a tela inteira */
html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}

/* O root precisa ser flex para que o layout do App funcione */
#root {
  display: flex;
  flex-direction: column;
}
